.promoBar{
    display:flex;
    position:relative;
    top:0;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    padding: 0 20px;
}

.promoBar p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 12px !important;
    display: flex;
    align-items: center;
    color: var(--dark-color);
    font-weight: 600;
}

.promoBar p img{
    width: 12px !important;
    height: 12px;
    margin-right: 5px;

}

@media (max-width: 768px) {
    .promoBar p{
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        color: var(--dark-color);    }
    .mobileInvisible{
        display:none !important;
    }
  }