---
const { currentPage, totalPages, prevPage, nextPage } = Astro.props;
import './styles/pagination.css'
---

<section class="pagination">
  <div class="pagination-controls">
    <a
      class:list={['btn', { disabled: !prevPage }]}
      href={prevPage ? `/blog/${prevPage}` : '#'}
      aria-label="Página anterior"
      aria-disabled={!prevPage}
    >
      &laquo;
    </a>

    <span class="page-info">Página {currentPage} de {totalPages}</span>

    <a
      class:list={['btn', { disabled: !nextPage }]}
      href={nextPage ? `/blog/${nextPage}` : '#'}
      aria-label="Página siguiente"
      aria-disabled={!nextPage}
    >
      &raquo;
    </a>
  </div>
</section>
