---
import { galleriesList } from '../../../data/galleriesList';
import '../styles/Gallery.css';

const galleryImages = galleriesList.novias;  // Usar la lista de imágenes de novias
---

<div class="gallery">
  <div class="gallery-images">
    {galleryImages.concat(galleryImages).map((image, index) => (
      <img src={image.src} alt={image.alt} />
    ))}
  </div>
</div>