---
import { galleriesList } from '../../../data';
import '../styles/Gallery.css';

const galleryImages = galleriesList.novias;
---

<div class="gallery">
  <div class="gallery-images">
    {galleryImages.concat(galleryImages).map((image) => (
      <img src={image.src} alt={image.alt} />
    ))}
  </div>
</div>