
  .card-container-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
 /* Carrousel - Vista móvil */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
  display: none; /* Oculta la barra de scroll */
}

.carousel-card {
  flex: 0 0 auto;
  width: 80%;
  max-width: 150px;
  scroll-snap-align: center;
  transition: transform 0.3s ease;
}

.carousel-card:hover {
  transform: scale(1.05);
}

/* Estilo adicional para escritorio */
@media (min-width: 769px) {
  .carousel {
    flex-wrap: wrap;
    justify-content: center;
  }
}