.sobre-mi-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.sobre-mi-image {
    width: 300px;
    height: 500px;
    object-fit: cover;
    max-width: 100%;
}

.content-sobre-mi {
    flex: 1;
}

.title-about {
    text-align: center;
}

.subtitle {
    margin: 1.5rem 0 1rem;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
}

.reasons-list li,
.additional-services li {
    margin-bottom: 1rem;
    list-style: none;
}

.titleDesc {
    font-weight: 600;
}

@media (max-width: 768px) {
    .sobre-mi-image {
        height: 300px;
        width: 300px;
        border: 2px solid var(--primary-color);
        border-radius: 300px;
        padding: 10px;

    }

    ul {
        padding-left: 0;
    }

    .subtitle {
        text-align: center !important;
    }



}