.courseHeader {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.courseImage {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.longDescription {
    padding-bottom: 20px;
}

.courseText {
    flex: 1;
    margin-bottom: 20px;
}

.courseText h1 {
    margin: 0;
}

.courseText h2 {
    color: var(--text-color);
    font-family: "Ephesis", cursive;
    font-weight: 400;
}

/* Media queries para hacer la página responsive */
@media (max-width: 768px) {
    .courseHeader {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .courseImage {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 0;
    }

    .longDescription ul {
        padding-left: 20px;
    }

    .durationPrice {
        padding: 0 !important;
    }

    .durationPrice li {
        text-align: center;
        list-style: none;
    }

    .materials {
        text-align: center;
    }
}