/* productDetails.css */

/* General Product Card */
.product-card {
    margin: 2rem auto;
    max-width: 1600px;
}

.product-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.product-header h2 {
    font-size: 2rem;
    color: var(--dark-color);
    font-weight: 400;
    font-family: 'Ephesis', cursive;}

/* Main Grid for Product Layout */
.product-grid {
    display: flex; 
    gap: 2rem;
    align-items: stretch; 
}

.product-image,
.product-details {
    flex: 1;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Product Details Section */
.product-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.learning-list {
    list-style: none;
    padding: 0;
}

.learning-list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--primary-light);
    margin: 5px 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.learning-list svg {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
}

/* Full Width Block */
.full-width-block {
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0;
}

/* Product Details Full Section */
.product-details-full {
    padding:0 3rem;
}

/* Additional Info Section */
.aditional-info li {
    margin-bottom: 1rem;
}

/* Duration and Price Section */
.duration-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 40px;
}

.price-option {
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.price-option p{
text-align: center;
font-size: 0.9rem;
}

.price-option.highlight {
    background: var(--primary-color);
    color: #fff;
}

/* Resaltado de la oferta especial */
.price-option.special-offer {
    background: var(--primary-light);
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.price-option.special-offer h4 {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
}


/* Responsive Design */

/* Tablet and below */
@media (max-width: 768px) {
    .product-grid {
        flex-direction: column;
        gap: 1rem;
    }

    .product-image img {
        width: 100%;
    }

    .product-details h3, .product-details-full h3 {
        text-align: center;
        margin: 0 0 20px;
    }

    .duration-price {
        grid-template-columns: 1fr;
    }



    .button.primary {
        width: 100%;
        text-align: center;
    }

    .product-header h1 {
        font-size: 2rem;
        padding:0 20px;
        text-align: center;
    }
    
    .product-header h2 {
        text-align: center;
        padding:0 20px;

    }
    .product-header h3 {
        text-align: center;
        padding:0 20px;

    }

    .learning-list li {
        font-size: 0.9rem;
        padding: 0.75rem;
    }

    .product-details-full {
        padding: 1rem;
    }
    .full-width-block {
    margin:0;
    }
}
