

.product-card {
    max-width: 1200px;
    margin: 2rem auto;
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1.5rem;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
    .product-card{
        margin:0;
        padding:0;
    }
    .product-details{
        padding: 0 20px;
    }
    .product-details h1,.product-details h2,.product-details h3, .product-details-full h3, .product-details-full h4, .product-details-full p, .product-details-full em{
        text-align: center;
    }
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    transition: transform var(--transition-speed);
}


.product-details {
    display: flex;
    flex-direction: column;
}

.product-header h1 {
    font-size: 2rem;
    color: var(--primary-color);
    margin: 0.5rem 0;
}

.product-header h2 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin: 0.5rem 0;
}

.product-header p {
    font-size: 1rem;
    line-height: 1.6;
}

.product-list {
    margin-top: 1.5rem;
}

.product-list h3 {
    font-size: 1.25rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.learning-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.learning-list li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size:0.8rem;
    background:var(--primary-light);
    border-radius: 5px;
    padding: 5px 10px
}

.list-icon {
    color: var(--primary-color);
    margin-right: 0.5rem;
}

.additional-info, .duration-price, .location, .reservation {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.additional-info h3, .duration-price h3, .location h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.price-option {
    margin-bottom: 1rem;
}

.price-option.highlight {
    background: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.reservation a.button {
    display: block;
    background: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    text-align: center;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    transition: background-color var(--transition-speed);
    width: 100%;
    box-sizing: border-box;
}

.reservation a.button:hover {
    background: var(--secondary-color);
}

.reservation {
    padding-bottom:3rem;
}
.reservation em {
    display: block;
    margin-top: 1rem;
    font-style: italic;
    font-size: 0.9rem;
    color: var(--secondary-color);
}
