.sobre-mi-container {
  margin: 0 auto;
  padding: 2rem 1.5rem;
  max-width: 1200px;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.hero-text ul {
  margin: 1rem 0;
  padding-left: 1.2rem;
}

.hero-text li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.hero-image img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Colaboradores */
.colaboradores {
  margin: 3rem 0;
  text-align: center;
}

.colaboradores h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

/* Carrusel */
.gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.gallery-images {
  display: flex;
  animation: scroll 20s linear infinite;
}

.gallery-images  img {
  width: 180px;
  margin: 0 1rem;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.gallery-images  img:hover {
  filter: grayscale(0%);

}

/* Animación de desplazamiento */
@keyframes scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}

/* Estilo para adaptarse a pantallas pequeñas */
@media (max-width: 768px) {
  .gallery img {
    width: 200px; 
  }
}


/* Contacto */
.contacto {
  text-align: center;
  margin-top: 3rem;
}

.sobre-mi-container h2 {
  font-size: 1.8rem;
  color: var(--dark-color);
  margin-bottom: 1rem;
}

.contacto p {
  text-align: center;
  font-size: 1rem;
  color: var(--dark-color);
}

.contacto a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.contacto a:hover {
  text-decoration: underline;
}

.hero-text ul {
  padding-left: 0;

}

.testimonios {
  margin: 3rem 0;
  text-align: center;
  background-color: var(--second-background);
  padding: 2rem 1rem;
  border-radius: 8px;
}

.testimonio {
  font-style: italic;
  margin-bottom: 1rem;
}

.testimonio p {
  font-weight: bold;
  color: var(--dark-color);
  margin-top: 0.5rem;
}

/* Responsividad */
@media (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image img {
    max-width: 80%;
    margin: 0 auto;
  }
}

.WidgetBackground__Content-sc-1ho7q3r-2>a {
  display: none !important;
}