---
import BaseLayout from "../../layout/BaseLayout.astro";
import { galleriesList, reviews } from "../../data";

const galleryImages = galleriesList.colaboradores;

import "./styles/sobreMi.css";
import Testimonial from "../../components/testimonial/Testimonial.astro";
---

<BaseLayout
  title="Sílvia Mendoza Maquilladora y Peluquera de Novias en Barcelona"
  description="Descubre la trayectoria de Sílvia Mendoza, maquilladora y peluquera en Barcelona, especializada en novias y en impartir cursos de automaquillaje y peinado. Un servicio integral para realzar tu belleza."
>
  <main class="sobre-mi-container container">
    <section class="hero-section">
      <div class="hero-content">
        <div class="hero-text animate-fade-in">
          <h1>Conoce a Sílvia Mendoza experta en maquillaje nupcial</h1>
          <p>
            De la asesoría de imagen a las bodas de ensueño: descubre mi viaje
            profesional y pasión por el maquillaje.
          </p>
          <h2>Un poco sobre mí</h2>
          <p>
            Soy Sílvia Mendoza, una apasionada de la belleza con amplia
            experiencia en el sector nupcial. Mi formación empieza en Josep Pons
            Formació con el grado superior en <strong>Asesoría de Imagen Personal y
            Corporativa</strong> y continúa en el mismo centro con el curso de <strong>Alta
            Definición de Peluquería</strong>, que me permiten crear estilos totalmente
            personalizados y adecuados a cada persona, estilo y preferencias.
          </p>
          <h2>Mi trayectoria profesional</h2>
          <ul class="animate-slide-in">
            <li>
              💍 Maquillaje y peinado de <strong>novias en Barcelona</strong> y alrededores.
            </li>
            <li>
              🎬 Maquillaje y peluquería en el videopodcast<strong>“Mai es el moment”</strong> de la plataforma 3CAT.
              3.
            </li>
            <li>
              📺 Maquilladora y peluquera en <strong>Aruseros</strong> (La Sexta) durante 4 años.
            </li>
            <li>
              🏫 Profesora de Maquillaje y peluqueria en la escuela <strong
                >Sole Cester</strong
              >.
            </li>
            <li>
              🏫 Formadora  <strong>freelance</strong>  en mis cursos de automaquillaje y autopeinado.
            </li>
            <li>
              🛍 Sales Assistant, Makeup Expert y Skincare Expert en<strong>Kiko Milano</strong> y <strong
                >The Body Shop</strong
              >.
            </li>
          </ul>
        </div>
        <!-- Imagen con efecto parallax -->
        <div class="hero-image parallax">
          <img
            src="/images/sobremi/Silvia-mendoza-make-up-maquilladora-novias-barcelona.webp"
            alt="Silvia Mendoza maquilladora profesional"
            loading="lazy"
            width="600"
            height="800"
          />
        </div>
      </div>
    </section>

    <!-- Colaboradores con carrusel mejorado -->
    <section class="colaboradores">
      <h2>Colaboradores</h2>
      <div class="gallery">
        <div class="gallery-images">
          {
            galleryImages
              .concat(galleryImages)
              .map((image) => <img src={image.src} alt={image.alt} />)
          }
        </div>
      </div>

      <!-- Contacto con botón animado -->
      <section class="contacto">
        <h2>¿Listos para crear tu look ideal?</h2>
        <p>
          Me encantaría conocer los detalles de tu boda, tu evento o el estilo
          de maquillaje y peinado que tienes en mente. Cuéntame lo que necesitas
          y juntas encontraremos la mejor opción para que te sientas más
          increíble.
        </p>
        <a href="/contacto#contacto-formulario" class="button primary"
          >Hablemos sobre tu proyecto</a
        >
      </section>

      <!-- Reseñas con efecto Card Flip -->
      <section class="reviews">
        <Testimonial testimonial={reviews} />
      </section>
    </section>
  </main>
</BaseLayout>
