---
// Importa estilos si es necesario
import "../../styles/Hero.css";
---

<section class="hero">
  <picture class="heroImage">
    <source
      srcset="/images/homepage/hero/maquillaje-natural-profesional-en-barcelona-768.webp"
      media="(max-width: 768px)"
      type="image/webp"
      sizes="100vw"
    />
    
    <source
      srcset="/images/homepage/hero/maquilladora-profesional-barcelona-para-novias-1280.webp"
      media="(max-width: 1280px)"
      type="image/webp"
      sizes="100vw"
    />

    <source
      srcset="/images/homepage/hero/maquilladora-profesional-barcelona-para-novias-1920.webp"
      media="(min-width: 1281px)"
      type="image/webp"
      sizes="100vw"
    />

    <img
      src="/images/homepage/hero/maquilladora-profesional-barcelona-para-novias-1920.webp"
      alt="Silvia Mendoza maquilladora profesional en Barcelona"
      class="hero__image"
      decoding="async"
    />
  </picture>

  <div class="hero-content">
    <h1>Maquillaje y recogidos para novia en Barcelona</h1>
    <p>Con Silvia Mendoza tu boda será inolvidable</p>
    <a href="/maquillaje-para-novias-en-barcelona" class="button" id="moreInfoButton">
      Quiero más información
    </a>
  </div>
</section>



