---
import './PromoBar.css'
---
<!-- //TODO editar estilo codigo y añadir alt -->
<div class="promoBar">
    <p>¡Agenda abierta 2025!</p>
    <p><img src="public/images/logo/simbolo-de-instagram.png" alt=""/>@silviamendozamakeup</p>
</div>