---
import "./PromoBar.css";
---

<!-- //TODO editar estilo codigo y añadir alt -->
<div class="promoBar">
    <p>
        <img
            src="/images/logo/whatsapp.png"
            alt="telefono contacto de Silvia Mendoza Make Up"
        />601 532 809
    </p>

    <p>¡Agenda abierta 2025!</p>
    <p class="mobileInvisible">
        <img
            src="/images/logo/logotipo-de-instagram.png"
            alt="instagram de Silvia Mendoza Make Up"
        />silviamendozamakeup
    </p>
</div>
