---
import "./styles/newsletter.css";
---

<form id="newsletter-form" class="newsletter-form">
    <input type="email" id="email" name="email" placeholder="Email" required />
    <button type="submit" class="button primary">Suscribirme</button>
    <label>
        <input type="checkbox" name="privacy_policy" required />
        <span>He leído y acepto la <a href="/politica-de-privacidad" target="_blank">Política de Privacidad.</a></span>
    </label>
    <p id="newsletter-message" style="display: none;"></p>
 </form>
 

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const newsletterForm = document.getElementById("newsletter-form",)! as HTMLFormElement;
        const formMessage = document.getElementById("newsletter-message",)! as HTMLParagraphElement;

        newsletterForm.addEventListener("submit", async (e) => { e.preventDefault();

            const email = (document.getElementById("email")! as HTMLInputElement).value.trim();
            const consent = (document.querySelector( 'input[name="privacy_policy"]',)! as HTMLInputElement ).checked;

            const formData = { email, consent };
            try {
                const response = await fetch(
                    "http://localhost:1337/api/newsletters",
                    {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ data: formData }),
                    },
                );

                if (response.ok) {
                    formMessage.textContent =
                        "Muchas gracias por subscribirte a mi newsletter ❤️";
                    formMessage.style.color = "green";
                    formMessage.style.display = "block";
                    newsletterForm.reset();
                } else {
                    const errorData = await response.json();
                    formMessage.textContent = `Error: ${errorData.error.message || "Error al enviar el formulario"}`;
                    formMessage.style.color = "red";
                    formMessage.style.display = "block";
                }
            } catch (error) {
                formMessage.textContent = "Error en la conexión con el servidor.";
                formMessage.style.color = "red";
                formMessage.style.display = "block";
            }
        });
    });
</script>
