---
import { Image } from "astro:assets";
import { reasonsToChoose } from "../../data/aboutSection";
import './AboutSection.css';
---

<div class="container sobre-mi-container">
        <Image
            src="/images/homepage/aboutme/Maquilladora-profesional-para-novias-en-barcelona.webp"
            alt="Silvia Mendoza Make Up and Barcelona"
            width={400}
            height={400}
            class="sobre-mi-image"
        />
    <div class="content-sobre-mi">
        <h2 class="title-about">¿Buscas un maquillaje de novia a medida y un peinado de ensueño en Barcelona?</h2>
        <p>Soy Silvia Mendoza, tu maquilladora y asesora de imagen especializada en novias. Con más de 10 años de experiencia, he ayudado a cientos de novias a lucir radiantes y sentirse seguras en el día más importante de sus vidas.</p>

        <h3 class="subtitle">¿Por qué elegirme para tu gran día?</h3>
        <ul class="reasons-list">
            {reasonsToChoose.map(({ title, description }) => (
                <li>
                    <span>{title}</span> {description}
                </li>
            ))}
        </ul>

        <h3 class="subtitle">¿Quieres conocer más acerca del día de tu boda?</h3>
        <p>
            Reserva tu cita ahora y déjame ayudarte a lucir radiante en uno de los días más importantes que vivirás.
        </p>
            <a href="https://wa.me/601532809" class="button primary">Sí, Quiero!</a>
    </div>
</div>
