.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 150px;/
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 10px 15px;
}

.card h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  text-align: center;
}

@media (max-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    max-width: 100%;
  }
}

