/* Carrusel */
.gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.gallery-images {
  display: flex;
  animation: scroll 50s linear infinite;
}

.gallery img {
  width: 150px; 
  height: 250px;
  object-fit: cover;
}

/* Animación de desplazamiento */
@keyframes scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}

/* Estilo para adaptarse a pantallas pequeñas */
@media (max-width: 768px) {
  .gallery img {
    width: 250px; 
  }
}
