---
import BaseLayout from "../../layout/BaseLayout.astro";
import CardPackNovias from "./components/CardPackNovias.astro";
import { packNovia } from "../../data";
import Testimonials from './components/Testimonials.astro'
import Gallery from './components/Gallery.astro'
import BrideForm from './components/BrideForm.astro'
import FAQ from './components/FAQ.astro'

import "./styles/novias.css"


---

<BaseLayout description="Experimenta la excelencia en belleza nupcial con Silvia Mendoza, tu maquilladora y peluquera profesional para novias en Barcelona. Servicios de alta calidad y asesoría de imagen personalizada para realzar tu belleza natural en el día más importante de tu vida. Luce radiante y segura con un look nupcial.">
  <div class="container">
    <div class="intro">
      <img
        src="/images/novias/maquillaje-natural-a-novia-en-barcelona-silvia-mendoza-make-up.webp"
        alt="Maquillaje natural a novia en Barcelona"
      />
      <section>
        <h1>Maquillaje y Peluquería para Novias en Barcelona</h1>
        <p>
          ¿Buscas un look nupcial que te haga sentir radiante y segura? En [Tu
          nombre], te ofrecemos un servicio personalizado para que brilles en tu
          gran día. Con mi experiencia y pasión, crearemos un estilo único que
          refleje tu personalidad.
        </p>
      </section>
    </div>

    <h2>¿Cómo funcionará mi servicio de novia?</h2>
    <CardPackNovias items={packNovia} />

    <Testimonials />

    <Gallery />

    <BrideForm />

    <FAQ />
  </div>
</BaseLayout>
