/* Estilo general para la tarjeta */
.blog-post {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 350px;
  margin: 20px auto;
  position: relative; 
  height: 380px;
}

.blog-post:hover {
  transform: translateY(-5px);
}

.blog-post:hover h2 {
  color: var(--primary-color); 
  text-decoration: underline;
}

/* Contenedor de la imagen */
.blog-post img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: transform 0.1s ease-out; 
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}

.blog-content h2 {
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  height: 80px;
  color: var(--dark-color);
  margin: 0;
}

.blog-content p {
  margin: 0;
}

.post-date {
  text-align: center;
  font-size: 0.8rem;
  color: var(--grey-color);
  margin: 0;
}

.post-content {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-color);
  flex-grow: 1;
}

@media (max-width: 768px) {
  .blog-content h2 {
    height: auto;
  }
}
