---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/navbar/Navbar.astro";
import PromoBar from "../components/promoBar/PromoBar.astro";
import "../styles/global.css";
import Footer from "../components/footer/Footer.astro";
// import Navbar from '../components/navbar/Navbar.astro'
const {
    title = "Maquillaje y Peinados para Novias en Barcelona con Silvia Mendoza",
    description = "¿Buscas una maquilladora para tu boda en Barcelona? Silvia Mendoza Makeup ofrece servicios de maquillaje y peinado para novias e invitadas. Además se imparten cursos de automaquillaje y recogidos tanto para tu dia a dia, como para un evento social.",
} = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

        <ClientRouter  />

    </head>

    <body>
        <header>
            <PromoBar/>
            <Navbar />
        </header>

        <main>
            <slot />
        </main>

          <Footer/>
    </body>
</html>
