---
import Navbar from "../components/navbar/Navbar.astro";
import "../styles/global.css";
// import Navbar from '../components/navbar/Navbar.astro'
const {
    title = "Maquillaje y Peinados para Novias en Barcelona con Silvia Mendoza",
    description = "¿Buscas una maquilladora para tu boda en Barcelona? Silvia Mendoza Makeup ofrece servicios de maquillaje y peinado para novias e invitadas. Además se imparten cursos de automaquillaje y recogidos tanto para tu dia a dia, como para un evento social.",
} = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
    </head>

    <body>
        <header>
            <Navbar />

        </header>

        <main>
            <slot />
        </main>

        <footer>
            <p>
                &copy; 2024 Sílvia Mendoza Make Up. Todos los derechos
                reservados.
            </p>
        </footer>
    </body>
</html>
