---
import './styles/footer.css'
---

<!-- Derechos de autor -->

<footer class="footer-container">
  <div class="footer-content">
    <!-- Información general -->
    <div class="footer-info">
      <h3>Información</h3>
      <p><i class="fas fa-map-marker-alt"></i> Carrer de Pere IV, 8, Sant Martí, 08005 Barcelona</p>
      <p><i class="fab fa-whatsapp"></i> Móvil 601 532 809</p>    
      <p><i class="fab fa-instagram"></i> @silviamendozamakeup</p>  
  </div>

    <!-- Enlace a bodas.net -->
    <div class="footer-bodasnet">
      <h3>Si eres la novia y te casas, visitame en:</h3>
      <a href="https://www.bodas.net" target="_blank" rel="noopener noreferrer">
        <img
          src="public/images/footer/badge-rated-10.avif"
          alt="Bodas.net - Silvia Mendoza"
          loading="lazy"
          width="150"
          height="50"
        />
      </a>
    </div>

    <!-- Formulario de Newsletter -->
    <div class="footer-newsletter">
      <h3>Suscríbete a nuestra Newsletter</h3>
      <form action="#" method="POST" class="newsletter-form">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="tuemail@example.com"
          required
        />
        <button type="submit" class="btnSubmit">Suscribirme</button>
      </form>
    </div>
  </div>
  <p class="copyright">&copy; 2024 Silvia Mendoza Makeup</p>

</footer>