---
import NewsletterForm from "../components/contactForm/Newsletter.astro";
import "./footer.css";
---

<footer class="footer">
  <div class="footer-container">
    <section class="footer-column contact-info">
      <img src="/images/logo/logo-silvia-mendoza-gold.png" alt="Logotipo Silvia Mendoza Make Up" class="logoSilviaMendozamua"/>
      <ul>
        <li>
          <i class="fas fa-map-marker-alt"></i>
          <p>Carrer de Pere IV, 8, Sant Martí, 08005 Barcelona</p>
        </li>
        <li>
          <i class="fab fa-whatsapp"></i>
          <a href="tel:601532809">601 532 809</a>
        </li>
        <li>
          <i class="fab fa-instagram"></i>
          <a
            href="https://www.instagram.com/silviamendozamakeup"
            target="_blank"
          >
            @ silviamendozamakeup
          </a>
        </li>
      </ul>
    </section>

    <section class="footer-column newsletter">
      <h3>Únete a mi comunidad y entérate la primera de tips y consejos</h3>
      <NewsletterForm />
    </section>

    <section class="footer-column bodas-net">
      <h3>¿Eres la novia? Visitame en:</h3>
      <a href="https://www.bodas.net" target="_blank">
        <img
          src="/images/footer/badge-rated-10.avif"
          alt="Bodas.net Silvia Mendoza"
        />
      </a>
    </section>
  </div>

  <hr />
  <!-- Sección inferior: Enlaces legales y derechos de autor -->
  <div class="footer-bottom">
    <div class="footer-legal">
      <a href="/politica-de-privacidad">Política de Privacidad</a>
      <a href="/politica-de-cookies">Política de Cookies</a>
    </div>
    <p class="footer-copyright">
      &copy; 2024 Silvia Mendoza Makeup. Todos los derechos reservados.
    </p>
  </div>
</footer>
