---
import {navLinks} from '../constants/navLinks'
import { Image } from "astro:assets";
import "./styles/Navbar.css";

const currentPath = Astro.url.pathname;
---

<nav class="navbar">
  <div class="navbar__container">
    <a href="/" class="navbar__logo">
      <Image
      src="/images/logo/logo-silvia-mendoza.svg"
      alt="Silvia Mendoza Make Up and Barcelona"
      width={200} 
      height={50}
      class="navbar__logo-img"
    />
    </a>

    <button
      aria-expanded="false"
      type="button"
      id="menu-toggle"
      class="navbar__toggle group"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="navbar__links" id="navbar-links">
      {navLinks.map(({ href, name }) => (
        <li class="navbar__item">
          <a
            href={href}
            class="navbar__link"
          >
            {name}
          </a>

          {currentPath === href ? (
            <div
              class="linkYes "
              transition:name="menu-line"

            ></div>
          ) : (
            <div
              class="linkNo"
            ></div>
          )}
        </li>
      ))}
    </ul>
  </div>
</nav>

<script>
const addMenuToggleLogic = () => {
  const menuToggle = document.getElementById('menu-toggle');
  const navbarLinks = document.getElementById('navbar-links');

  if(!menuToggle || !navbarLinks) return;

  menuToggle.addEventListener('click', () => {
    const isExpanded = menuToggle.getAttribute("aria-expanded") === "true";
    menuToggle.setAttribute("aria-expanded", isExpanded ? "false" : "true");
    navbarLinks.classList.toggle("navbar__links--open");
  })
}

document.addEventListener("astro:after-swap", () => {
  const menuToggle = document.getElementById("menu-toggle");
  const navbarLinks = document.getElementById("navbar-links");
  
  if (!menuToggle || !navbarLinks) return;
  
  menuToggle.onclick = () => {
    const isExpanded = menuToggle.getAttribute("aria-expanded") === "true";
    menuToggle.setAttribute("aria-expanded", isExpanded ? "false" : "true");
    navbarLinks.classList.toggle("navbar__links--open");
  };
});
addMenuToggleLogic();
</script>
