---
import "./styles/PromoBar.css";
---

<div class="promoBar">
  <!-- WhatsApp -->
  <a
    href="https://wa.me/34601532809"
    target="_blank"
    rel="noopener noreferrer"
    class="promoBar-item mobileInvisible"
  >
    <i class="fab fa-whatsapp"></i>
    <span>601 532 809</span>
  </a>

  <!-- Agenda Abierta -->
  <a
  href="https://wa.me/34601532809"
  target="_blank"
  rel="noopener noreferrer"
  class="promoBar-text"
>
  <span>¡Agenda abierta 2025! Reserva tu cita</span>
</a>

  <!-- Instagram -->
  <a
    href="https://www.instagram.com/silviamendozamakeup"
    target="_blank"
    rel="noopener noreferrer"
    class="promoBar-item mobileInvisible"
  >
    <i class="fab fa-instagram"></i>
    <span>@silviamendozamakeup</span>
  </a>
</div>
