---
import './ContactForm.css'

---
<form method="POST" action="/submit-form" class="contact-form">
<h3>Contacto</h3>
<label for="name">Nombre:</label>
<input type="text" id="name" name="name" required/>

<label for="name">Telefono:</label>
<input type="number" id="phone" name="phone" required/>
<button type="submit" class="button primary">Enviar</button>

</form>