---
import "./ContactForm.css";
---
<h2>¿Quieres saber más? rellena el siguiente formulario y enseguida me pondré en contacto contigo</h2>
<form method="POST" action="/submit-form" class="contact-form">
  <!-- Nombre -->
  <input type="text" id="name" name="name" placeholder="Nombre" required />
  <!-- Teléfono -->
    <input type="number" id="phone" name="phone" placeholder="Teléfono" required />
  <!-- Email -->
  <input type="email" id="email" name="email" placeholder="Email" required />

  <!-- Fecha del enlace -->
  <div class="date-section">
    <span class="date-label">Fecha y lugar de la boda</span>
    <div class="date-container">
      <input type="number" placeholder="DD" name="day" min="1" max="31" required />
      <input type="number" placeholder="MM" name="month" min="1" max="12" required />
      <input type="number" placeholder="YYYY" name="year" min="2025" max="2100" required />
    </div>
  </div>

  <div class="date-container-time">
    <!-- Hora de la ceremonia -->
    <input type="time" id="time" name="time" placeholder="Hora de la ceremonia" />
    <!-- Lugar del enlace -->
    <input type="text" id="place" name="place" placeholder="Lugar del enlace" required />

  </div>
  <!-- Cuéntanos los detalles -->
  <textarea id="details" name="details" rows="4" placeholder="¿Quieres contarme algo que te inquiete?"></textarea>


  <!-- Botón de enviar -->
  <button type="submit" class="button primary">Enviar</button>
</form>
